# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [5]:
bfw = black_friday.loc[black_friday.Gender == "F"]
bfw.shape

(132197, 12)

In [6]:
r2 = bfw.loc[bfw.Age == "26-35"].shape[0]
r2

49348

In [7]:
r3 = black_friday.User_ID.nunique()
r3

5891

In [8]:
r4 = black_friday.dtypes.nunique()
r4

3

In [9]:
bf = black_friday.dropna()
bf.shape

(164278, 12)

In [10]:
black_friday.shape

(537577, 12)

In [11]:
r5 = 100 - ((100*bf.shape[0])/black_friday.shape[0])
r5

69.44102891306734

In [12]:
r5 = r5/100
r5

0.6944102891306734

In [18]:
r6 = black_friday.isnull().sum().Product_Category_3
r6

373299

In [30]:
black_friday.Product_Category_3.isnull().count()

537577

In [14]:
r7 = black_friday.Product_Category_3.value_counts()
r7 = r7.index[0]
r7

16.0

In [34]:
r6 = black_friday.isnull().sum()
r6

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [32]:
col = black_friday.Product_Category_3.dropna()
r6 = black_friday.shape[0] - col.shape[0]
r6

373299

In [21]:
black_friday.Purchase

0          8370
1         15200
2          1422
3          1057
4          7969
5         15227
6         19215
7         15854
8         15686
9          7871
10         5254
11         3957
12         6073
13        15665
14         5378
15         2079
16        13055
17         8851
18        11788
19        19614
20         8584
21         9872
22         9743
23         5982
24        11927
25        16662
26         5887
27         6973
28         5391
29        16352
          ...
537547    11543
537548    20924
537549    13082
537550    11658
537551     6863
537552    16415
537553    18526
537554     7099
537555      578
537556     2183
537557    12724
537558     7796
537559     7770
537560     5940
537561     7834
537562    11508
537563     6074
537564     7084
537565     7934
537566     5350
537567     1994
537568     5930
537569     7042
537570    15491
537571    11852
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64

In [43]:
dados = black_friday[["User_ID","Occupation","Marital_Status","Product_Category_1","Product_Category_2", "Product_Category_3", "Purchase"]]

In [44]:
dados.dtypes

User_ID                 int64
Occupation              int64
Marital_Status          int64
Product_Category_1      int64
Product_Category_2    float64
Product_Category_3    float64
Purchase                int64
dtype: object

In [56]:
from sklearn.preprocessing import StandardScaler

In [57]:
dados = dados.dropna()

In [58]:
obj = StandardScaler().fit(dados)

In [59]:
dados_std = obj.transform(dados)

In [61]:
r6 = dados_std[-1].mean()

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [16]:
def q1():
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [120]:
def q2():
    bfw = black_friday.loc[black_friday.Gender == "F"]
    r2 = bfw.loc[bfw.Age == "26-35"].shape[0]
    return r2
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [121]:
def q3():
    return black_friday.User_ID.nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [122]:
def q4():
    return black_friday.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [123]:
def q5():
    bf = black_friday.dropna()
    r5 = 100 - ((100*bf.shape[0])/black_friday.shape[0])
    r5 = r5/100
    return r5
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [124]:
def q6():
    return black_friday.Product_Category_2.isnull().count()
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [125]:
def q7():
    r7 = black_friday.Product_Category_3.value_counts()
    r7 = r7.index[0]
    return r7
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [126]:
def q8():
    return r6
    
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [127]:
def q9():
    return r7
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [128]:
def q10():
    return True
    pass