In [1]:
import pandas as pd
import statistics
df = pd.read_csv('desafio1.csv')

In [2]:
dic = {}

In [3]:
df.groupby('estado_residencia').describe()

                  RowNumber                                                  \
                      count         mean          std  min      25%     50%
estado_residencia
PR                   1731.0  3432.841710  2021.329878  8.0  1698.00  3388.0
RS                   1750.0  3487.801143  2038.163427  2.0  1696.25  3546.0
SC                   3519.0  3540.096334  2011.598038  1.0  1810.50  3521.0

                                   pontuacao_credito              ...  \
                       75%     max             count        mean  ...
estado_residencia                                                 ...
PR                 5206.00  6992.0            1731.0  648.961294  ...
RS                 5243.25  6999.0            1750.0  651.105143  ...
SC                 5271.00  7000.0            3519.0  649.537653  ...

                  possui_cartao_de_credito      membro_ativo            \
                                       75%  max        count      mean
estado_residencia
PR                                     1.0  1.0       1731.0  0.495090
RS                                     1.0  1.0       1750.0  0.527429
SC                                     1.0  1.0       3519.0  0.512930


                        std  min  25%  50%  75%  max
estado_residencia
PR                 0.500120  0.0  0.0  0.0  1.0  1.0
RS                 0.499390  0.0  0.0  1.0  1.0  1.0
SC                 0.499904  0.0  0.0  1.0  1.0  1.0

[3 rows x 64 columns]

In [4]:
statistics.mode(df.loc[df.estado_residencia == "PR"]['pontuacao_credito'])

850

In [5]:
df.loc[df.estado_residencia == "SC"]['pontuacao_credito'].mode()

0    850
dtype: int64

In [6]:
df

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6996,6997,2afdb40334e1bef3451f3db02b12c255c7a9ff57,e3eb2eea41a60b08392da20a49543d05ac484255,623,RS,F,50,2,87116.71,1,1,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6998,6999,c042de909a1fb157765c84c3278d8e6500807367,a52bbf77611eab47a6eff8641a1a9bd01006acbe,666,RS,F,47,5,0.00,1,0,0
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1

In [7]:
dic["SC"]  = {}

In [8]:
dic["SC"]["moda"] = df.loc[df.estado_residencia == "SC"]['pontuacao_credito'].mode()

In [9]:
dic["SC"]["moda"] = dic["SC"]["moda"][0]

In [10]:
dic["SC"]["moda"]

850

In [11]:
dic["SC"]["mediana"] = df.loc[df.estado_residencia == "SC"]['pontuacao_credito'].median()

In [12]:
dic["SC"]["mediana"]

653.0

In [13]:
dic["SC"]["media"] = df.loc[df.estado_residencia == "SC"]['pontuacao_credito'].mean()

In [14]:
dic["SC"]["media"]

649.5376527422563

In [15]:
dic["SC"]["desvio_padrao"] = df.loc[df.estado_residencia == "SC"]['pontuacao_credito'].std()

In [16]:
dic["SC"]["desvio_padrao"]

97.233492793433

In [17]:
dic["RS"]  = {}

In [18]:
dic["RS"]["moda"] = df.loc[df.estado_residencia == "RS"]['pontuacao_credito'].mode()

In [19]:
dic["RS"]["moda"] = dic["RS"]["moda"][0]

In [20]:
dic["RS"]["moda"]

850

In [21]:
dic["RS"]["mediana"] = df.loc[df.estado_residencia == "RS"]['pontuacao_credito'].median()

In [22]:
dic["RS"]["media"] = df.loc[df.estado_residencia == "RS"]['pontuacao_credito'].mean()

In [23]:
dic["RS"]["desvio_padrao"] = df.loc[df.estado_residencia == "RS"]['pontuacao_credito'].std()

In [24]:
dic["PR"]  = {}

In [25]:
dic["PR"]["moda"] = df.loc[df.estado_residencia == "PR"]['pontuacao_credito'].mode()

In [26]:
dic["PR"]["moda"] = dic["PR"]["moda"][0]

In [27]:
dic["PR"]["mediana"] = df.loc[df.estado_residencia == "PR"]['pontuacao_credito'].median()

In [28]:
dic["PR"]["media"] = df.loc[df.estado_residencia == "PR"]['pontuacao_credito'].mean()

In [29]:
dic["PR"]["desvio_padrao"] = df.loc[df.estado_residencia == "PR"]['pontuacao_credito'].std()

In [30]:
dic

{'SC': {'moda': 850,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.233492793433},
 'RS': {'moda': 850,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.13659841383574},
 'PR': {'moda': 850,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309758}}

In [57]:
import json
import numpy

In [58]:
def convert(o):
    if isinstance(o, numpy.int64): return int(o)  
    raise TypeError

In [59]:
json.dumps(dic, default=convert)

'{"SC": {"moda": 850, "mediana": 653.0, "media": 649.5376527422563, "desvio_padrao": 97.233492793433}, "RS": {"moda": 850, "mediana": 650.0, "media": 651.1051428571428, "desvio_padrao": 95.13659841383574}, "PR": {"moda": 850, "mediana": 650.0, "media": 648.9612940496822, "desvio_padrao": 98.60718591309758}}'

In [62]:
f = open('submission.json','w')
f.write(json.dumps(dic, default=convert))
f.close()